nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  //padding: var(--spacing-3) 0; 
  background-color: rgb(255, 255, 255);
  top: 0;
  width:100%;
  max-width: 900px;

  .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 15px;
    margin: 0;
    align-items: center;
    margin-left: auto;

    .navigation-item{
      display: inline;
      padding: 3px;
      margin: var(--spacing-1);
      font-size: 17px;
      color: var(--font-color);
      
      &:hover{
        border-radius: 5px;
        border: 2px;
        background-color: #f6dfa1;
        //box-shadow: 11px 10px 20px -8px rgba(0,0,0,0.61) ;
        transition: 0.1s;
      }
    }
  }
}

