.about-me-container {
  display: flex;
  margin-top: 70px;
  
  .about-me-text-container {
    margin-right: var(--spacing-3);
    color: var(--font-color);
  }
  .portrait {
    width: 250px;
    border-radius: 36px;
    flex-shrink: 0;
    object-fit: cover;
  }
}

