.Contact_Container{
    
    
    .Contact_Icon_Container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .Contact_Icon_Container > * {
        font-size: 2em;
        width: 2em;
        margin-top: var(--spacing-1);
}
}